extends layout

block modal
  include ./include/about.jade

block content
  include ./include/head.jade
  .inner.cover
    div
      div#cover-heading
        h1.cover-heading Loop Transformer
        p.lead.
          Your ingenious code editor.
      form.form-inline#transformation-form
        input#target-file(type='file', style='display:none', name='target_file',
                          multiple)
        .btn-toolbar(role='toolbar')
          .btn-group(role='group')
            button.btn.btn-primary(type='button',
                                   onclick="$('input[id=target-file]').click();",
                                   data-placement='left', title='Select the file',
                                   data-toggle='tooltip', data-container='body')
              span.glyphicon.glyphicon-file(aria-hidden='true')
              span.sr-only Select a file
            input.btn.btn-primary#transform-btn(type='submit', value='Transform!',
                                                autocomplete='off',
                                                data-loading-text='Processing...')

          button.btn.btn-default.hidden#settings-btn
            span.glyphicon.glyphicon-cog(aria-hidden='true')
            span.sr-only Transformation settings

      .container.inner.hidden#transformation-results
        .row
          .col-xs-9
            .panel.pre-scrollable.log-container
              ul.list-group#log-container
          .col-xs-3
            include ./include/log-params.jade

        .row.text-center.hidden#post-controls
          .btn-toolbar(role='toolbar')
            button.btn.btn-default.btn-sm#retry-btn(type='button',
                                    data-placement='left', title='Retry',
                                    data-toggle='tooltip', data-container='body')
              span.glyphicon.glyphicon-repeat(aria-hidden='true')
              span.sr-only Repeat
            a.btn.btn-primary.btn-sm#result-btn(href='#')
              span.glyphicon.glyphicon-download(aria-hidden='true')
              span  Get result

block scripts
  script.
    // File submitter
    $('#transformation-form').submit(function(f) {
      $("#transform-btn").button('loading');
      clearResults();
      var dataLen = 0;
      var req = new XMLHttpRequest();
      req.open('POST', 'transformation/transform-file');
      req.onreadystatechange = function() {
        switch (req.readyState) {
          case 3: // receiving
            var t = req.responseText.length;
            responseToJSON(req.responseText.slice(dataLen)).forEach(handleResponse);
            dataLen = t;
            break;
          case 4: // done
            responseToJSON(req.responseText.slice(dataLen)).forEach(handleResponse);
            $("#transform-btn").button('reset');
        }
      };
      req.send(new FormData($('#transformation-form')[0]));
      //-  error: function(xhr, text, st) {
      //-    createAlert('danger', String(xhr.status) + ' ' + st, 'Connection error:');
      //-    $("#transform-btn").button('reset');
      //-  },
      f.preventDefault();
    });

    // Login
    if (#{authenticated})
      $('#login-btn').addClass('hidden');

    $('#login-btn').click(function() {
      $('#login-form').removeClass('hidden');
      $('#login-btn').addClass('hidden');
    });

    var login_form = $('#login-form');
    login_form.submit(function(f) {
      var submit = $("#passkey-submit");
      submit.button('loading');
      $.ajax({
        url: 'login',
        type: 'POST',
        data: new FormData($('#login-form')[0]),
        processData: false,
        contentType: false,
        error: function(xhr, text, st) {
          createAlert('danger', String(xhr.status) + ' ' + st, 'Connection error:');
          submit.button('reset');
        },
        success: function(data, status, jqxhr) {
          console.log(data);
          submit.button('reset');
          if (data.error !== undefined)
            createAlert('danger', data.error, 'Login error:');
          else if (data.success !== undefined)
            login_form.addClass('hidden');
        },
      });
      f.preventDefault();
    });

    // Log filtering
    $('#log-filters').find(':checkbox').click(function() {
      logEntriesVisibility($(this));
    }).each(function() {
      logEntriesVisibility($(this));
    });

    $("#retry-btn").click(resetView);

    // Turn tooltips on
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
