doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/darkly-bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/cover.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/util.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jasny-bootstrap.min.js')
    script(src='/javascripts/jss.min.js')
    block scripts
    block modal
