nav.navbar.navbar-default
  .container-fluid
    .navbar-header
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Transform a file
        li.disabled
          a.disabled Online editor
      ul.nav.navbar-nav.navbar-right
        li#login-toggle
          a#login-btn(href='#') Login
        li
          a(href='#', data-toggle='modal', data-target='#about-modal') About
      form.navbar-form.navbar-right.hidden#login-form(role='login')
        .input-group
          input.form-control#passkey-field(name='passphrase' type='text' placeholder='Passkey')
          span.input-group-btn
            button.btn.btn-default(data-loading-text='Checking...')#passkey-submit Submit

