.form-group.controls-container
  .form#log-filters
    .checkbox
      label
        input#translator-msg-cb(type='checkbox' checked)
        span Show translator messages
    .form-group.subcontrols
      .checkbox
        label
          input#translator-msg-debug-cb(type='checkbox')
          span Show debug messages
      .checkbox
        label
          input#translator-msg-info-cb(type='checkbox' checked)
          span Show info messages
      .checkbox
        label
          input#translator-msg-warning-cb(type='checkbox' checked)
          span Show warning messages
      .checkbox
        label
          input#translator-msg-danger-cb(type='checkbox' checked)
          span Show error messages
    .checkbox
      label
        input#spray-msg-cb(type='checkbox')
        span Show libspray messages
    .checkbox
      label
        input#other-msg-cb(type='checkbox')
        span Show other messages

