/* Common styles */
.inner {
  padding: 30px;
}

.centered {
  text-align: center;
}

.btn-toolbar {
  display: inline-block;
}

/* Structure */
.head {
  position: fixed;
  top: 3%;
  width: 100%;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cover {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  min-height: 80%;
}

/* Logger */
.log-container {
  height: 30vw;
}

li {
  text-align: left;
}

.controls-container {
  text-align: left;
}

.subcontrols {
  padding-left: 20px;
}
